<h1>Data Seluruh Karyawan PT Penacony</h1>
<hr>
<table border="'1">
    <thead>
        <tr>
            <th>nama</th>
            <th>gender</th>
            <th>NIP</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < karyawan.length; i++) { %>
        <tr>
            <td><%= karyawan[i].nama %></td>
            <td><%= karyawan[i].gender %></td>
            <td><%= karyawan[i].nip %></td>
        </tr>
        <% } %>
    </tbody>
</table>